<!-- 日付入力 -->
<div class="mb-3">
    <label class="form-label" for="reportDate">日付</label>
    <p class="mb-1"></p>
    <div class="col-md-7">
        <input class="form-control" type="date" th:field="*{reportDate}" th:errorclass="err" id="reportDate">
        <span th:errors="*{reportDate}" class="text-danger"></span>
    </div>
</div>

<!-- タイトル入力 -->
<div class="mb-3">
    <label class="form-label" for="title">タイトル</label>
    <p class="mb-1"></p>
    <div class="col-md-7">
        <input class="form-control" type="text" th:field="*{title}" th:errorclass="err" id="title">
        <span th:errors="*{title}" class="text-danger"></span>
    </div>
</div>

<!-- 内容入力 -->
<div class="mb-3">
    <label class="form-label" for="content">内容</label>
    <p class="mb-1"></p>
    <div class="col-md-7">
        <textarea class="form-control" th:field="*{content}" th:errorclass="err" id="content" rows="4"></textarea>
        <span th:errors="*{content}" class="text-danger"></span>
    </div>
</div>
